@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Gelasio, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

body {
  background: #000;
}

@layer utilities {
  .adaptive-container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
  }

  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .invisible-scrollbar::-webkit-scrollbar-thumb {
    display: none;
  }

  .body-div {
    background-image: url('../../public/bg/bg@1x.jpeg');
    background-repeat: repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) {
    .body-div {
      background-image: url('../../public/bg/group.png');
    }
  }

  @media screen and (min-width: 768px) {
    .adaptive-container {
      padding: 0 32px;
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1280px) {
    .adaptive-container {
      max-width: 1280px;
    }
  }
}